$icon-font-path: '../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/';

// bower:scss
@import "../../bower_components/bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

body {
  background-color: #1A1A1A;
  color: #fff;
  }
h1, h2 {
  text-align: center;
  }
h1 {
  font-family: 'Ultra', serif;
  margin-bottom: 0
  }
h2 {
  font-family: 'Vidaloka', serif;
  margin-top: 5px;  
  }
p {
  font-size: 20px;
  }
ul {
  list-style-type: none;
  }
.byline {
  color: #787878;
  text-transform:uppercase;
  font-size: 12px;
  } 
a.readmore {
  color: #787878;
  text-transform:uppercase;
  font-size: 75%
  }
a.readmore:hover {
  color: yellow;
  }
.loading {
    background: url('ajax-loader.gif') no-repeat center center;
    height: 66px;
    width: 1280px;
  }
.hideimage {
  display: none;
  }
.showimage {
  display: block;
  margin: 0 auto;
  width: 1280px;
}
.img {
  width: 100%
}